.title-box {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-image: url('banner.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.title-box .game-title {
    margin: 0;
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.description h3 {
    font-family: Arial Black, sans-serif;
    color: #000000; 
}

.details p {
    margin-bottom: 10px;
}

.container-img {
    position: relative; /* Posizione relativa per contenere elementi posizionati assolutamente */
    display: flex;
    align-items: center; /* Allineamento verticale al centro */
}

.carousel-inner {
    position: relative; /* Posizione relativa per posizionare il contenuto all'interno */
}

.carousel-item {
    text-align: center; /* Allineamento testo al centro per ciascun elemento del carosello */
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.buy-now {
    background-color: #008080;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    color: #FFFFFF; /* Colore del testo bianco */
}

.buy-now h4 {
    font-size: 24px;
    text-align: center;
}

.buy-now .product-info {
    margin-top: 20px;
}

.buy-now .product-info h5 {
    font-size: 28px; /* Nome del gioco più grande */
    margin-bottom: 10px; /* Margine inferiore per separazione */
}

.buy-now .product-info p {
    font-size: 24px; /* Dimensione del testo generale */
    color: #FFA500; /* Colore arancione */
    margin-top: 10px;
}

.buy-now .btn-primary {
    margin-top: 20px;
    background-color: #00BFFF !important;
    border-color: #00BFFF !important;
}

.buy-now .btn-primary:hover {
    background-color: #4169E1 !important;
    border-color: #4169E1 !important;
}

.paypal-logo {
    width: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.icon-carrello {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.custom-button {
            position: absolute;
            right: 30%;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #00BFFF;
            border: 2px solid #00BFFF;
            border-radius: 20px; /* Arrotonda i bordi */
            color: white;
            text-decoration: none; /* Rimuove la sottolineatura */
            transition: background-color 0.3s, color 0.3s;
        }

        .custom-button:hover {
            background-color: white;
            color: #00BFFF;
            text-decoration: none; /* Rimuove la sottolineatura anche quando ci passi sopra */
        }
