/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili per il body */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9; /* Colore di sfondo */
}

/* Stili per il contenitore principale */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px; /* Padding aumentato */
    text-align: center;
    background-color: #fff; /* Colore di sfondo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

/* Stili per il marchio */
.brand {
    color: #6A5ACD; /* Blu viola */
    font-size: 60px; /* Dimensione del font aumentata */
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Effetto ombra */
    transition: transform 0.3s ease; /* Animazione al passaggio del mouse */
}

/* Effetto hover per il marchio */
.brand:hover {
    transform: scale(1.1); /* Ingrandimento al passaggio del mouse */
}

/* Stili per lo slogan */
.tagline {
    font-style: italic;
    color: #FF6347; /* Rosso */
    font-size: 24px; /* Dimensione del font aumentata */
    margin-bottom: 30px; /* Spazio inferiore aumentato */
}

/* Stili per i membri del team */
.member {
    display: inline-block;
    width: 200px; /* Larghezza fissa */
    height: 200px; /* Altezza uguale alla larghezza */
    margin: 20px;
    border-radius: 10px;
    background-color: #f8f8f8; /* Colore di sfondo più chiaro */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ombra più evidente */
    transition: transform 0.3s ease; /* Animazione al passaggio del mouse */
    overflow: hidden; /* Nasconde il contenuto che eccede i bordi */
}

.member-content {
    padding: 30px; /* Padding interno */
}

/* Effetto hover per i membri del team */
.member:hover {
    transform: translateY(-5px); /* Sposta leggermente in su al passaggio del mouse */
}

/* Stili per l'avatar */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Colori pastello per i membri del team */
#anna.member-content {
    background-color: #ffb6c1; /* Rosa pastello */
}

#antonio.member-content {
    background-color: #add8e6; /* Celeste pastello */
}

#aldo.member-content{
    background-color: #90EE90; /* Verde chiaro pastello */
}

#luigi.member-content {
    background-color: #ffff99; /* Giallo pastello */
}

/* Colori pastello per i titoli */
h1, h2, h3 {
    color: #ffb6c1; /* Rosa pastello */
}

.team{
	    display: flex;
	    justify-content: space-evenly;
}