.title-box {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-image: url('https://img.freepik.com/premium-photo/table-gambling-sports-game-adults-childrens-playing-cards-cubes-header-banner-mockup-with-copy-space_868611-2915.jpg?w=1380');
    background-size: auto; /* Ridimensiona l'immagine per adattarla all'area mantenendo le proporzioni originali */
    background-position: center; /* Centra l'immagine orizzontalmente e verticalmente */
    background-repeat: no-repeat; /* Impedisce alla sfondo di ripetersi */
}

.title-box .game-title {
    margin: 0;
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Aggiunge un'ombra al testo */
}

.description h3 {
	font-family: Arial Black,sans-serif;
    color: #000000; 
}

.details p {
    margin-bottom: 10px;
}

.container-img {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra all'immagine */
}

