/* Stile per i form-group */
.form-group {
    display: inline-block; /* Rendi i form-group elementi inline-block */
    margin-right: 10px; /* Aggiungi spazio tra gli elementi */
}

/* Stile per le etichette */
label {
    display: block; /* Rendi le etichette a blocco per garantire che siano sopra i loro input */
}

/* Stile per il form */
#game-form {
    margin-top: 20px; /* Aggiungi uno stacco di 20px sopra il form */
    text-align: center; /* Centra il contenuto del form */
}


