/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altezza minima del 100% della viewport */
}

.container {
    flex: 1; /* Il contenitore si espande per riempire lo spazio rimanente */
    padding: 20px; /* Spaziatura interna del contenitore principale */
}

.section-title-container {
    position: relative;
    background: linear-gradient(135deg, #89b7db, #a8d8ff); /* Gradiente blu */
    color: #343a40; /* Colore testo scuro */
    text-align: center;
    padding: 50px 20px;
    width: 100%;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    z-index: 1;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform-origin: top;
}

.section-title-container::before,
.section-title-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: rgba(52, 58, 64, 0.6); /* Colore linea */
    transition: width 0.3s ease;
}

.section-title-container::before {
    left: 50%;
    transform: translateX(-50%);
}

.section-title-container::after {
    right: 50%;
    transform: translateX(50%);
}

.section-title-container:hover::before,
.section-title-container:hover::after {
    width: 80%;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #343a40; /* Colore testo scuro */
}

header p {
    font-size: 1.2em;
    color: #6c757d; /* Colore testo grigio */
}

main {
    display: flex;
    justify-content: center;
}

.tips {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centra i consigli */
}

.tip {
    width: calc(50% - 10px);
    max-width: 400px; /* Larghezza massima dei consigli */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px; /* Spaziatura tra i consigli */
}

.tip:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(213, 232, 255, 0.2); /* Cambio dell'ombra al passaggio */
}

.tip i {
    font-size: 3em;
    color: #a8d8ff; /* Cambiato il colore dell'icona a blu */
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

.tip h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold; /* Rende il testo in grassetto */
    color: #007bff; /* Cambia il colore del testo in blu */
    text-align: center;
}

.tip p {
    font-size: 1.1em;
    color: #6c757d; /* Colore testo grigio */
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #a8d8ff; /* Cambiato il colore del footer a blu */
    color: #343a40; /* Colore testo scuro */
    margin-top: auto; /* Sposta il footer in fondo */
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #007bff; /* Colore del titolo blu */
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    background: linear-gradient(to right, #007bff, #a8d8ff); /* Gradient per il titolo */
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateGradient 5s linear infinite; /* Animazione del gradiente */
}

@keyframes animateGradient {
    0% {
        background-position: 0% 50%; /* Inizio animazione */
    }
    100% {
        background-position: 100% 50%; /* Fine animazione */
    }
}

.section-title-container:hover .section-title {
    color: #343a40; /* Cambio colore titolo al passaggio */
}

/* Importazione degli stili di Font Awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Importazione degli stili di animazione AOS */
@import url('https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css');

@media (max-width: 768px) {
    .tips {
        flex-direction: column; /* Layout a colonna per dispositivi più piccoli */
        align-items: center; /* Centra i consigli */
    }

    .tip {
        width: 100%; /* Occupa tutta la larghezza disponibile */
        max-width: none; /* Rimuove la larghezza massima */
    }
}


