<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>Catalogo</display-name>
    
    <error-page>
    <error-code>404</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>it.unisa.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>CartaControl</servlet-name>
        <servlet-class>it.unisa.control.CartaControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartaControl</servlet-name>
        <url-pattern>/carta</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>AreaPersonaleControl</servlet-name>
        <servlet-class>it.unisa.control.AreaPersonaleControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AreaPersonaleControl</servlet-name>
        <url-pattern>/prodottiAP</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>catalogoControl</servlet-name>
        <servlet-class>it.unisa.control.catalogoControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>catalogoControl</servlet-name>
        <url-pattern>/prodotti</url-pattern>
    </servlet-mapping>
   
    <servlet>
        <servlet-name>DettagliControl</servlet-name>
        <servlet-class>it.unisa.control.DettagliControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DettagliControl</servlet-name>
        <url-pattern>/dettaglio</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>ChiSiamoControl</servlet-name>
        <servlet-class>it.unisa.control.ChiSiamoControl</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ChiSiamoControl</servlet-name>
        <url-pattern>/ChiSiamo</url-pattern>
    </servlet-mapping>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RecensioneControl</servlet-name>
    <servlet-class>it.unisa.control.RecensioneControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecensioneControl</servlet-name>
    <url-pattern>/recensione</url-pattern>
  </servlet-mapping>
</web-app>
